@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body 
{
  width: 100vw;
}
header 
{
  width: 100%;
  background-image: linear-gradient(#27005D , #9400FF);
}
.header 
{
  width: 85%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 0 auto;
}
.logoContainer 
{
  display: flex;
  align-items: center;
  gap: 4rem;
  text-decoration: none;
  color: #FFC100;
  flex: 1;
}
.logoContainer__logo 
{
  width: 8rem;
 
}
.logoContainer__name 
{
  font-size: 3rem;
  font-weight: 800;
}
.searchContainer 
{
  flex: 1;
  
}
.searchContainer__form
{
  position: relative;
  
}
.serachContainer__form__searchInput{
  width: 100%;
  height: 4rem;
  border:0.2rem solid rgba(0,0,0,0.3);
  border-radius: 3rem;
  padding: 0 4rem 0 2rem;
  background-color: transparent;
  }

  .searchContainer__form__button
  { 
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 1.1rem;
    transform: translateY(-45%);
    z-index: 100;
    cursor: pointer;

  }
  .searchContainer__form__button i{
    
    font-size: 2rem;
  }  
.navBar 
{
  flex: 1;
  }
.navBar__list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.navBar__list__item__link{
  text-decoration: none;
  font-size: 2rem;
  color: #FFC100;
  font-weight: 500;
}
.page_style
{
  background-image: linear-gradient(#27005D , #9400FF);
  width: 100%
}
.htwo{
  background-color: ;
  width: 100%;
  height: 9rem;
}

.htwo_style{
 color: #FFC100;
 font-weight: 800;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 4rem;
 padding-top: 2.2rem;
 
}

.button_header{
  display: flex;
  
  justify-content:center;
  font-size: 2.5rem;
  color: #FFC100;
  width: 100%;
  background-color: blue;
}
.nav_cont{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
 
  
}

.btn {
  font-size: 2rem;
  text-decoration: none;
  color: #FFC100;
  padding: 1rem;
  display: flex;
  width: 15%;
  
  font-weight: 600;
  
 }
.btna{
 background-color: #9400FF;
  color: #FFC100;
  border-radius: 1rem;
  border: #FFC100 solid 0.2rem;
}
.btna:hover{
  opacity: 0.5;
  
}
.btnm{
  background-color: #9400FF;
  color: #FFC100;
  border-radius: 1rem;
  border: #FFC100 solid 0.2rem;
}
.btnm:hover{
  opacity: 0.5;
}
.btnk{
  background-color: #9400FF;
  color: #FFC100;
  border-radius: 1rem;
  border: #FFC100 solid 0.2rem;
}
.btnk:hover{
  opacity: 0.5;
}
.btnd{
  background-color: #9400FF;
  color: #FFC100;
  border-radius: 1rem;
  border: #FFC100 solid 0.2rem;
}
.btnd:hover{
  opacity: 0.5;
}
.btnaa{
  background-color: #9400FF;
  color: #FFC100;
  border-radius: 1rem;
  border: #FFC100 solid 0.2rem;
}
.btnaa:hover{
  opacity: 0.5;
}
.btnkg{
  background-color: #9400FF;
  color: #FFC100;
  border-radius: 1rem;
  border: #FFC100 solid 0.2rem;
}
.btnkg:hover{
  opacity: 0.5;
}
.btng{
  background-color: #9400FF;
  color: #FFC100;
  border-radius: 1rem;
  border: #FFC100 solid 0.2rem;
}
.btng:hover{
  opacity: 0.5;
}
.movie_list_container{
  width: 85%;
 margin: 0 auto;
 list-style: none;
 display: flex ;
 justify-content: space-between;
 gap: 3rem;
 flex-wrap: wrap;
 
 
}
.movie_list_container_li
{
  padding: 1rem;
  background-color: white;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  width:calc((100% - 9rem) / 4);
  align-items: center;
  border: solid .5rem #FFC100;
  box-shadow: .5rem 1rem 3rem black; 
  
}
.img_container{
  width: 100%;
  
}
.a_text
{ 
  text-decoration: none;
  font-size: 1.7rem;
  text-align: center;
  color: black;
  font-weight: 600;
}




